/*  <style>img {
    margin: 3.5% 14.5% 0% 14.5%;
}

h5 {
    margin-top: -.3%;
    text-align: center;
} */

/* .BordeNormal {
            border: 0.5px solid #000;
        }

        .trSinBordeInferior {
            border-bottom: 0.0px;
        }

        .trSinBordeSuperior {
            border-top: 0.0px;
        }




        #contenedor1 {
            font-size: 11px;
            padding: 7px 0px 23px 700px;
            /* height: 11px; */
/* width: 82px; */
/* text-align: center;
        } */

/* #contenedor2 {
            width: 884px; */
/*  padding: -1px 45px; */
/* font-size: 12px;
            background: green;
        } */